*{
    margin: 0;
    padding: 0;
}
body{
    background-color: #f2eef9;
    font-family: 'Lora',serif;
    width: 100%;
    text-align: center;
}
.conteudo{
    width: 80%;
    margin: 0 auto;
    font-family: 'Lora',serif;
}
.titulo-principal{
    margin-top: 10px;
    font-weight: bold;
}
form{
    border-style: double;
    width: 60%;
    margin: 10px auto;
    padding: 20px 0 20px 40px;
    border-color: #6b5f80 ;
    border-radius: 10px;
    text-align: left;
}

label{
    margin: auto;
}

.labels{
    width: 15%;
    text-align: left;
    display: inline-block;
}

input{
    margin: 0 5px 10px 0;
    font-size: 16px;
    line-height: 15px;
    width: 75%;
    text-align: right;
    padding: 3px;
}
input[type="submit"]{
    width: 50%;
    cursor: pointer;
    text-align: center;
    padding: 15px;
    border-radius: 10px;
    border-style: 1px ridge #b19cd9;
    margin: 20px 0 0 20%; 
}

input[type="submit"]:hover{
    background-color:#b19cd9;
    border-style:none;
}