@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@700&display=swap');

*{
    margin: 0;
    padding: 0;
}

body{
    background-color: #f2eef9;
    font-family: 'Lora',serif;
    width: 100%;
}

.conteudo{
    width: 70%;
    margin: 0 auto;
    font-family: 'Lora',serif;
}

.titulo-principal{
    text-align: center;
    margin-top: 10px;
    font-weight: bold;
}

table{
    width: 80%;
    border: 2px solid #6b5f80;
    margin: auto;
    padding: 0 5px;
    font-family: 'Ubuntu', sans-serif;
}

table thead{
    background-color: #9f7fdb;
    text-transform: uppercase;
    height: 25px;
}

table tbody tr {
    text-align: center;
    text-transform: uppercase;
}